
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.dev
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

#uploads (keep the .htaccess, ignore uploaded content)
/public/uploads/*
!/public/uploads/.htaccess