{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container">
    <h1>Bonjour</h1>
    <p>Je suis Mehmet Ates et je n'ai pas fini mon site web.</p>
    <p>Merci de votre visite !</p>
    <p>Vous pouvez me contacter par email à <a href="mailto:mehmet.ates.pro@outlook.fr">mehmet.ates.pro@outlook.fr</a></p>
</div>
{% endblock %}