{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container">
    <h1>Bonjour</h1>
    <p>Je suis Mehmet Ates et je n'ai pas fini mon site web.</p>
    <p>Merci de votre visite !</p>

    <h2>Mentions légales</h2>

    <p>Ce site est édité à titre personnel par un particulier.</p>

    <h3>Hébergeur :</h3>
    <p>Nom : Mehmet Ates</p>
    <p>Adresse IP ou nom de domaine : mehmetates.fr</p>
    <p>Contact : <a href="mailto:mehmet.ates.pro@outlook.fr">mehmet.ates.pro@outlook.fr</a></p>
    <p>Hébergé sur un serveur personnel situé à Moirans-en-Montagne, France.</p>

    <p>Ce site ne collecte pas de données personnelles et n’affiche pas de publicité.</p>

    <p>Pour toute demande, vous pouvez contacter l’éditeur à l’adresse ci-dessus.</p>
</div>
{% endblock %}